.block {
  display: flex;
  flex-direction: column;
  max-height: 912px;
  overflow: scroll;
  max-width: 608px;
}

.list {
  min-width: 383px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menu {
  display: flex;
  min-width: 600px;
}

.flex {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
