.App {
  padding: 0;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 0px;
  background-color: #2F2F37;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8585AD;
}