.image {
  max-width: 240px;
  object-fit: contain;
  object-position: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.title {
  margin: 0;
  max-width: 270px;
  min-height: 48px;
  text-align: center;
}
