.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 374px;

}

.image {
  max-width: 520px;
  max-height: 240px;
}

.subtitle {
  max-width: 520px;
}

.values {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 516px;
  justify-content: space-between;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}