.item {
  max-height: 80px;
}

.block {
min-width: 600px;
max-height: 900px;
box-sizing: border-box;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  height: 568px;
  max-height: 568px;
  overflow: scroll;
  min-width: 584px;
}

.ingr {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: stretch;
  max-height: 860px;
}

.total {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  transform: scale(1.5,1.5);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  box-sizing: border-box;
  max-width: 550px;
  padding: 15px;
  align-self: start;
  border-radius: 88px;
  background-color: #2f2f37;
  font-size: 20px;
}